/* Header */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: purple;
    justify-content: center;
}

/* Header container */
.jumbotron {
    background-color: lightblue;
    width: 100vw;
    height: 100px;
}

/* Weather search and result display box */
.container {
    background-color: lightgray;
    width: 100vw;
}